/* Contenedor principal */
.contenedor {
  max-width: 400px;
  margin: auto;
  padding: 15px; /* Aumenté el espacio interno */
  border: 1px solid #3a3a3a;
  border-radius: 8px; /* Bordes más redondeados */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Sutil aumento en la sombra */
  background-color: #006400; /* Verde oscuro */
  font-family: 'Roboto', sans-serif;
  color: #ffffff; /* Texto blanco para mayor contraste */
}

/* Títulos */
h1, h2 {
  color: #ffffff; /* Texto blanco */
}

/* Tablas */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #2e2e2e;
  padding: 8px; /* Mayor espacio interno */
  text-align: left;
}

th {
  background-color: #4f4f4f;
  color: #ffffff; /* Texto blanco */
}

tbody tr:nth-child(even) {
  background-color: #666666;
}

/* Divs */
div > div {
  margin-bottom: 10px; /* Mayor espacio entre divs */
}

/* Etiquetas */
label {
  display: block;
  margin-bottom: 8px; /* Espacio más pequeño entre etiquetas */
  font-weight: bold;
  color: #ffffff;
}

/* Inputs */
input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #2e2e2e;
  border-radius: 4px;
}

/* Botones */
button, button2 {
  background-color: #006400;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover, button2:hover {
  background-color: #004d00;
}

/* Contenedor secundario */
.contenedor2 {
  max-width: 200px;
  margin: 50px auto;
  padding: 15px;
  border: 1px solid #3a3a3a;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background-color: #047a82;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
}

/* Títulos secundarios */
h3 {
  color: #ffffff;
}

/* Párrafos */
p {
  color: #cc0000;
}
